[Unit]
Description=ParkovaDolinaBot
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/parkovadolina.conf
User=root
WorkingDirectory=/srv/ParkovaDolina/
ExecStart=/srv/ParkovaDolina/env/bin/python app.py
Restart=failure

[Install]
WantedBy=multi-user.target